@{
    ViewData["Title"] = "Home Page";
}
<body>
    <h1>Data Results</h1>
    <div class="container-fluid">
        @*ID of each header is passed to query*@
        <table id="testTable" class="table table-bordered nowrap">
            <thead>
                <tr>
                    <th id="Id">Number</th>
                    <th id="Name">Car</th>
                    <th id="Description">Buzzwords</th>
                </tr>
            </thead>
        </table>
    </div>
</body>
<script src="~/js/ajaxTable.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        ajaxTable('testTable');
    });    
</script>
